body{
    background: url("assets/homebg.jpg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

@font-face {
    font-family: "KeiJi";
    src: url('fonts/Kei_Ji.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.menu-wrapper {
    background: rgba(142, 108, 108, 0.65); 
    backdrop-filter: blur(8px);
    border-radius: 20px;
    padding: 40px;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.card-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.menu-card {
    width: 210px;
    background: white;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    overflow: hidden;
    cursor: pointer;
    transition: 0.25s ease;
    text-align: center;
}

.menu-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.22);
}


.menu-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
}


.card-label {
    padding: 12px 0;
    font-size: 1.2rem;
    font-weight: 600;
}


.logout-btn {
    margin-top: 35px;
    padding: 10px 30px;
    font-size: 1.2rem;
    border-radius: 40px;
    border: none;
    background: #333;
    color: white;
    transition: 0.2s;
}

.logout-btn:hover {
    background: black;
    transform: translateY(-3px);
}
